* {
  margin: 0;
  font-family:  'Urbanist', sans-serif;

}

/* to hide scroll bar of entire APP */
/* ::-webkit-scrollbar {
  display:none;
} */

::-webkit-scrollbar{
  width: 9px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: #a1a1a1; /*cursor's color*/
  
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #cfcfcf;
}